{
    "digikam_associations": [
        {
            "database_name": "Kennedy.rmtree",
            "digikam_root_folder": "C:\\Users\\shuskey\\Github\\Timeline-Traveler\\Assets\\Resources\\SampleData\\DigiKam"
        },
        {
            "database_name": "Kennedy",
            "digikam_root_folder": "C:\\Users\\shuskey\\Github\\Timeline-Traveler\\Assets\\Resources\\SampleData\\DigiKam"
        }
    ]
}